<?xml version="1.0" encoding="GB2312"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="byName">

	<bean id="testService" class="com.chenjw.knife.test.impl.TestServiceImpl">
		<property name="test1Service" ref="test1Service" />
	</bean>
 	
    <bean id="test1Service" class="com.chenjw.knife.test.impl.Test1ServiceImpl" />
    
</beans>